@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.logo img {
    max-width: 100px;
    width: 100%;
}

.nav-link {
    font-weight: 600;
    color: #000;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown>.dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.fa-solid {
    font-size: 1.5rem;

}

.fa-xmark {
    font-size: 2rem;
}

.top h1 {
    font-size: 50px;
    padding-top: 10%;
}

.top p {
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.top button {
    margin-right: 10px;
    margin-top: 30px;
}


.image img {
    width: 700px;
 
}

@media screen and (max-width:1426px) {
    .image img {
        width: 500px;
    }
}


.image h2 {
    font-size: 30px;
    padding-top: 30%;

}

.image button {
    margin-bottom: 20px;
}

.image p {
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer {
    background-color: rgb(211, 255, 244);
}

.contact-form input {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.contact-form textarea {
    width: 600px;
    height: 150px;
    padding-left: 20px;
    padding-top: 10px;
}

.contact-form button {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 159, 233);
    color: white;
    font-weight: bold;
}

.contact-form h2 {
    padding-bottom: 20px;
    padding-top: 10%;
}

.contact-form label {
    padding-bottom: 5px;
}

.contact-form {
    margin-left: 30%;
    margin-bottom: 10%;
}

.about-image img {
    width: 400px;
}

@media screen and (max-width:1426px) {
    .about-image img {
        width: 400px;
        margin-left: 30px;
    }
    
}

@media screen and (max-width:900px) {
    .contact-form {
        margin-left: 10%;
        margin-bottom: 10%;

    }

    .contact-form input {
        width: 300px;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 20px;
    }

    .contact-form textarea {
        width: 300px;
        height: 150px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .contact-form button {
        width: 300px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: rgb(0, 159, 233);
        color: white;
        font-weight: bold;
    }
    
    
    
}


